html,body{
    font-size:18px;
}

@media (max-width: 575px){
    .table-responsive-sm {
      display: block;
      width: 100%;
      overflow-x: auto;
      -webkit-overflow-scrolling: touch;
      -ms-overflow-style: -ms-autohiding-scrollbar;
    }
  }
.main{
  min-height: calc(100vh - (40px + 63px));
}